{% extends 'base.html.twig' %}

{% block title %}Edit Dinner{% endblock %}

{% block body %}
    <h1>Diner bewerken</h1>

    {{ include('dinner/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="button" href="{{ path('dinner_index') }}">Terug naar lijst</a>

    {{ include('dinner/_delete_form.html.twig') }}
{% endblock %}
