{% extends 'base.html.twig' %}

{% block body %}
            <div class="grid-x grid-padding-x">
                <div class="large-12 cell">
                    <h1>Welkom.</h1>
                </div>
            </div>

{% endblock %}