{% extends 'base.html.twig' %}

{% block title %}Gerecht bewerken{% endblock %}

{% block body %}
    {{ include('dish/_form.html.twig', {'button_label': 'Bewerken'}) }}

    <a class="button" onclick="window.history.back()">Terugkeren</a>

    {{ include('dish/_delete_form.html.twig') }}
{% endblock %}
