{% extends 'base.html.twig' %}

{% block title %}New Dish{% endblock %}

{% block body %}
    <h1>Create new Dish</h1>

    {{ include('dish/_form.html.twig') }}

    <a class="button" onclick="window.history.back()">Terugkeren</a>
{% endblock %}
